In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./cat_new_track3-3.csv', index_col=0)
df.head()

,id_seq,default_tf,ceo_name_cnt,bsn_opr_month,count,inno_cert_date_cnt,venture_cert_date_cnt,exporter_tf,importer_tf,research_lab_seq_tf,...,"research_lab_type_전담부서, 출판, 영상, 방송통신 및 정보서비스","research_lab_type_전담부서, 화학","research_lab_type_전담부서, 환경","research_lab_type_전문, 과학 및 기술 서비스",research_lab_type_정보처리,"research_lab_type_출판, 영상, 방송통신 및 정보서비스","research_lab_type_하수·폐기물처리, 원료재생 및 환경복원",research_lab_type_화학,research_lab_type_환경,dot_sum
1,769252,0,1,6.522093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,230.840649
2,769252,0,1,6.522093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,230.840649
3,769252,0,1,6.522093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,230.840649
4,769252,0,1,6.522093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,230.840649
5,769252,0,1,6.522093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,230.840649

# 10개 등급 나누기

In [3]:
same_count = pd.qcut(df['dot_sum'],10, labels=[10,9,8,7,6,5,4,3,2,1])
same_count

1         3
2         3
3         3
4         3
5         3
         ..
238666    3
238667    3
238668    3
238669    3
238670    3
Name: dot_sum, Length: 238670, dtype: category
Categories (10, int64): [10 < 9 < 8 < 7 ... 4 < 3 < 2 < 1]

In [4]:
same_count.describe()

count     238670
unique        10
top            7
freq       23870
Name: dot_sum, dtype: int64

In [5]:
df['grade'] = same_count

# 등급별 갯수 세기(구간당 23868개 정도)

In [6]:
for i in range (1,11):
  dff = df[df['grade']==i]
  ddf = dff[dff['default_tf']==0]
  print(ddf['grade'].count())

23722
23718
23587
23596
23529
23500
23315
23199
22888
22570

In [7]:
for i in range (1,11):
  dff = df[df['grade']==i]
  ddf = dff[dff['default_tf']==1]
  print(ddf['grade'].count())

142
152
280
271
338
364
555
668
979
1297