In [1]:
import numpy as np
import pandas as pd

In [2]:
# df = pd.read_excel('./csv/saving_private_song_continuous3.xlsx')

In [3]:
# df.head()

In [4]:
# df.to_csv('./csv/continuous.csv')

In [5]:
df = pd.read_csv('./csv/continuous.csv', index_col=0)

In [6]:
df.head()

,ibk_seq,id_seq,crn,enr,base_ym,default_tf,bsn_opr_month,comsale_join_date_opr_month,soven_cert_date_opr_month,mois_permission_date_opr_month,...,design_reg_num_opr_month,cprgt_cnt,copyright_reg_date_opr_month,article_cnt,article_ym_opr_month,total,inv_opr_month,sum,investor_cnt,pblntf_pclnd
0,1,769252,104-81-15653,110111-0006399,2018-11-30,N,679,NaN,NaN,NaN,...,NaN,0,NaN,0,NaN,5,NaN,NaN,NaN,25740.0
1,2,769252,104-81-15653,110111-0006399,2018-12-31,N,679,NaN,NaN,NaN,...,NaN,0,NaN,0,NaN,5,NaN,NaN,NaN,25740.0
2,3,769252,104-81-15653,110111-0006399,2019-01-31,N,679,NaN,NaN,NaN,...,NaN,0,NaN,0,NaN,5,NaN,NaN,NaN,25740.0
3,4,769252,104-81-15653,110111-0006399,2019-02-28,N,679,NaN,NaN,NaN,...,NaN,0,NaN,0,NaN,5,NaN,NaN,NaN,25740.0
4,5,769252,104-81-15653,110111-0006399,2019-03-31,N,679,NaN,NaN,NaN,...,NaN,0,NaN,0,NaN,5,NaN,NaN,NaN,25740.0

In [7]:
df.replace({'default_tf': {'N': 0}}, inplace = True)
df.replace({'default_tf': {'Y': 1}}, inplace = True)

In [8]:
# col_1 = ['comsale_join_date_opr_month','soven_cert_date_opr_month','mois_permission_date_opr_month','design_reg_num_opr_month']
# col_2 = ['copyright_reg_date_opr_month','article_ym_opr_month', 'inv_opr_month', 'sum', 'investor_cnt','pblntf_pclnd']
# df.loc[df[col_1] != df[col_1], col_1] = 0

In [9]:
df = df.fillna(0)

In [10]:
df.columns

Index(['ibk_seq', 'id_seq', 'crn', 'enr', 'base_ym', 'default_tf',
       'bsn_opr_month', 'comsale_join_date_opr_month',
       'soven_cert_date_opr_month', 'mois_permission_date_opr_month',
       'inno_cert_date_cnt', 'inno_cert_date', 'inno_cert_exp_date',
       'mainbiz_cert_date_cnt', 'mainbiz_cert_date', 'mainbiz_cert_exp_date',
       'venture_cert_date_cnt', 'venture_cert_date', 'venture_cert_exp_date',
       'lab_cnt', 'stand_date_opr_month', 'nps_end_opr_month', 'fnl_sucsf_cnt',
       'fnl_sucsf_date_opr_month', 'cntrct_cncls_date_opr_month',
       'cntrct_cncls_cnt', 'avg_prtcpt_cnt', 'avg_sucsfbid_rate',
       'avg_lab_scale', 'rnd_seq_cnt', 'rnd_ing_cnt', 'rnd_end_date_opr_month',
       'rnd_project_amount', 'last_app_date_opr_month',
       'last_reg_date_opr_month', 'patent_cnt', 'patent_app_num_opr_month',
       'patent_reg_num_opr_month', 'utility_cnt', 'utility_app_num_opr_month',
       'utility_reg_num_opr_month', 'trademark_cnt',
       'trademark_app_num_opr_month', 'trademark_reg_num_opr_month',
       'design_cnt', 'design_app_num_opr_month', 'design_reg_num_opr_month',
       'cprgt_cnt', 'copyright_reg_date_opr_month', 'article_cnt',
       'article_ym_opr_month', 'total', 'inv_opr_month', 'sum', 'investor_cnt',
       'pblntf_pclnd'],
      dtype='object')

In [11]:
pd.set_option('display.max_columns', None) ## 모든 열을 출력한다.

In [12]:
df.head(3)

,ibk_seq,id_seq,crn,enr,base_ym,default_tf,bsn_opr_month,comsale_join_date_opr_month,soven_cert_date_opr_month,mois_permission_date_opr_month,inno_cert_date_cnt,inno_cert_date,inno_cert_exp_date,mainbiz_cert_date_cnt,mainbiz_cert_date,mainbiz_cert_exp_date,venture_cert_date_cnt,venture_cert_date,venture_cert_exp_date,lab_cnt,stand_date_opr_month,nps_end_opr_month,fnl_sucsf_cnt,fnl_sucsf_date_opr_month,cntrct_cncls_date_opr_month,cntrct_cncls_cnt,avg_prtcpt_cnt,avg_sucsfbid_rate,avg_lab_scale,rnd_seq_cnt,rnd_ing_cnt,rnd_end_date_opr_month,rnd_project_amount,last_app_date_opr_month,last_reg_date_opr_month,patent_cnt,patent_app_num_opr_month,patent_reg_num_opr_month,utility_cnt,utility_app_num_opr_month,utility_reg_num_opr_month,trademark_cnt,trademark_app_num_opr_month,trademark_reg_num_opr_month,design_cnt,design_app_num_opr_month,design_reg_num_opr_month,cprgt_cnt,copyright_reg_date_opr_month,article_cnt,article_ym_opr_month,total,inv_opr_month,sum,investor_cnt,pblntf_pclnd
0,1,769252,104-81-15653,110111-0006399,2018-11-30,0,679,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.0,11.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,5,0.0,0.0,0.0,25740.0
1,2,769252,104-81-15653,110111-0006399,2018-12-31,0,679,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.0,12.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,5,0.0,0.0,0.0,25740.0
2,3,769252,104-81-15653,110111-0006399,2019-01-31,0,679,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.0,1.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,5,0.0,0.0,0.0,25740.0

In [13]:
df['avg_lab_scale'].unique()

array([0., 2., 4., 3., 1.])

In [14]:
df = df.drop(['ibk_seq','id_seq','crn', 'enr'], axis=1)
df = df.drop(['base_ym','inno_cert_date','inno_cert_exp_date', 'mainbiz_cert_date', 'mainbiz_cert_exp_date'], axis=1)
df = df.drop(['venture_cert_date','venture_cert_exp_date'], axis=1)

In [15]:
df.to_csv('./csv/continuous_prep.csv')

In [23]:
y = df['default_tf']
x = df.drop('default_tf', axis=1)

In [24]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, random_state=77)

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train,y_train)